<!--
     book_id integer primary key autoincrement
    -- f'get_{col_name}'
    , book_name text
    , book_link text unique
    , author_name text
    , author_link text
    , stars real
    , num_reviews integer
    , book_cover_img text
    -- row_meta
    , from_url text
    , category text
    , scrape_datetimez datetime
);


CREATE TABLE IF NOT EXISTS top_books (
      top_book_id integer primary key autoincrement
    , book_id integer unique
    , bump_count integer
    , first_top_timestampz datetime comment 'utc'
    , latest_top_timestampz datetime comment 'utc'
);

 -->

{% extends "base.html" %}

{% block content %}
<!-- <div class="container bg-light rounded pt-3">
    Top books scraped from Amazon every 30 minutes.
</div>
 -->

<div class="container">
    <div class="btn-group pt-3 justify-content-md-center">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select a Category of Books
      </button>
      <div class="dropdown-menu">
        {% for category in book_categories %}
        <a class="dropdown-item" href="/books/{{category}}">{{category}}</a>
        {% endfor %}
      </div>
    </div>
</div>

<hr>
{% for book in top_books %}
    <div class="container bg-light rounded pt-3">
        <div class="row">
            <img src={{ book.book_cover_img }} class="col-md-4">
            <div class="row col-md-8">
                <div class="row">
                    <div class="col">Most recently a top book @ {{ book.latest_top_timestampz }}</div>
                </div>
                                <div class="row">
                <h3 class="col"> {{ book.book_name }} </h3>
                <br>
                </div>
                <div class="row">
                    <div class="col">By {{ book.author_name }}</div>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endfor %}

{% endblock %}
