{% extends "base.html" %}

{% block content %}
  <div class="container bg-light rounded pt-3">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group col-md-8">
              {{ form.imdb_show_id.label }} <br>
              {{ form.imdb_show_id(
                    size=32,
                    class_="autocomplete",
                    placeholder="type your search query here",
                    value=(
                        (
                            (show_meta.primaryTitle|string)
                                +' ['+
                            (show_meta.startYear|string)
                                +'-'+
                            (show_meta.startYear|string)
                                +'] = '+
                            (imdb_show_id|string)
                        )
                        if imdb_show_id
                        else ''
                    ),
                )
              }}
              {% for error in form.imdb_show_id.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
            <div class="form-group col-md-4">
              {{ form.max_rank_pct.label }} <br>
              {{ form.max_rank_pct(
                    size=32,
                    value=(max_rank_pct or '')
                 )
              }}
              {% for error in form.max_rank_pct.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
        </div>
        {{ form.submit(class_="btn btn-primary form-group") }}
    </form>
    <script>
        $( document ).ready(function() {
            $( ".autocomplete" ).autocomplete({
                source: '/search'
            });
        });
    </script>

  {% if imdb_show_id is not none %}

    <hr>
    <h2 id="show-meta">Show Metadata</h1>
    <hr>
    <div>
        <table class="table table-sm table-bordered">
            <tr> <td> Show Name </td> <td> {{ show_meta.primaryTitle }} </td> </tr>
            <tr> <td> Start Year </td> <td> {{ show_meta.startYear }} </td> </tr>
            <tr> <td> End Year </td> <td> {{ show_meta.endYear }} </td> </tr>
            <tr> <td> Typical Runtime </td> <td> {{ show_meta.runtimeMinutes }} min</td> </tr>
            <tr> <td> Genre tags </td> <td> {{ show_meta.genres }} </td> </tr>
        </table>
    </div>

    <hr>
    <h2 id="seasons">Top Seasons</h1>
    <hr>
    <table class="table table-hover table-sm table-striped table-bordered">
        <thead>
            <tr>
                {% if g.is_mobile %}
                    <th> Season </th>
                    <th> Avg(⭐) </th>
                    <th class="text-center"> <small><strong> Avg(Episode Percentile) </strong></small> </th>
                {% else %}
                    <!-- <th> Index<sub><sub>1</sub></sub> </th> -->
                    <th> Season # </th>
                    <th> Avg # Votes </th>
                    <th> Average Rating </th>
                    <th class="text-center"> Avg Percentile (100=best)</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for season in seasons %}
                <tr>
                    {% if g.is_mobile %}
                        <td> {{ season.seasonNumber }} </td>
                        <td> {{ season.average_rating }} </td>
                        <td class="text-center"> {{ season.average_percentile }} </td>
                    {% else %}
                        <!-- <td> {{ loop.index }}</td> -->
                        <td> {{ season.seasonNumber }} </td>
                        <td> {{ season.average_num_votes }} </td>
                        <td> {{ season.average_rating }} </td>
                        <td class="text-center"> {{ season.average_percentile }} </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <hr>
    <h2 id="episodes">Top Episodes</h1>
    <hr>
    <table class="table table-hover table-sm table-striped table-bordered">
        <thead>
            <tr>
                {% if g.is_mobile %}
                    <!-- <th> Index<sub><sub>1</sub></sub> </th> -->
                    <th> S </th>
                    <th> Ep </th>
                    <th> Title </th>
                    <th> ⭐ </th>
                    <!-- <th> Num Votes </th> -->
                    <th class="text-center"> <small><strong>Top Percentile</strong></small> </th>
                {% else %}
                    <th> Index<sub><sub>1</sub></sub> </th>
                    <th> Season # </th>
                    <th> Episode # </th>
                    <th> Title </th>
                    <th> Average Rating </th>
                    <th> Num Votes </th>
                    <th class="text-center"> Top Percentile (100=best)</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for episode in episodes %}
                <tr>
                    {% if g.is_mobile %}
                        <!-- <td> {{ loop.index }}</td> -->
                        <td> {{ episode.seasonNumber }} </td>
                        <td> {{ episode.episodeNumber }} </td>
                        <td> {{ episode.primaryTitle }} </td>
                        <td> {{ episode.averageRating }} </td>
                        <!-- <td> {{ episode.numVotes }} </td> -->
                        <td class="text-center"> {{ episode.percentile|int }} </td>
                    {% else %}
                        <td> {{ loop.index }}</td>
                        <td> {{ episode.seasonNumber }} </td>
                        <td> {{ episode.episodeNumber }} </td>
                        <td> {{ episode.primaryTitle }} </td>
                        <td> {{ episode.averageRating }} </td>
                        <td> {{ episode.numVotes }} </td>
                        <td class="text-center"> {{ episode.percentile|int }} </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>



  {% else %}



    <div class="container px-5">
        <p> Hello and welcome to Top Episodes. </p>
        <p> To look for your favorite show use the search box above and click "Show the best episodes" </p>
        <p> This page applies the <a href="https://en.wikipedia.org/wiki/Pareto_principle">Pareto principle</a> to TV series so you can get 4 times more <a href="https://en.wiktionary.org/wiki/util">utils</a> for your time. </p>
        <p> Essentially, by watching just the top 20% of episodes, you get 80% of the value of the whole series. This means in the same amount of time you can watch 5x more series getting 80% of the value of each, which maths to 4x the bang for your buck 🤓</p>
        <p> If a show does not sound super exciting but your friends love it, might as well start with the top 5% and expand to 20% if you felt like you enjoyed the 5%. Some cult classics might only have a few good ones (at least in your opinion) so 1% might be all that's worth watching to start, but you can at least say you gave it a shot. </p>
        <p> Of course this does not apply to every TV show, but it works for most. Some shows require you to watch every episode to understand the story. For those you might want to filter out only a handful of episodes or none at all (keep 80% to 100%). </p>
        <p> To get started with a list of sci-fi favorites recommended by the #1 biggest sci-fi fan I know check out the following: </p>
        <ul>
            <li> <a href="/episodes/tt0112178/30">Star Trek: Voyager</a> </li>
            <li> <a href="/episodes/tt0106145/20">Star Trek: Deep Space Nine</a> </li>
            <li> <a href="/episodes/tt0407362/20">Battlestar Galactica</a> </li>
            <li> <a href="/episodes/tt0118480/20">Stargate SG-1</a> </li>
        </ul>
        <p> Here's a list compiled by my sister </p>
        <ul>
            <li> <a href="/episodes/tt386676">The Office</a> </li>
            <li> <a href="/episodes/tt1266020">Parks and Recreation</a> </li>
            <li> <a href="/episodes/tt285403">Scrubs</a> </li>
            <li> <a href="/episodes/tt460649">How I Met Your Mother</a> </li>
            <li> <a href="/episodes/tt496424">30 Rock</a> </li>
            <li> <a href="/episodes/tt108778">Friends</a> </li>
            <li> <a href="/episodes/tt367279">Arrested Development</a> </li>
            <li> <a href="/episodes/tt1439629">Community</a> </li>
            <li> <a href="/episodes/tt1759761">Veep</a> </li>
            <li> <a href="/episodes/tt2372162">Orange Is the New Black</a> </li>
            <li> <a href="/episodes/tt472954">It's Always Sunny in Philadelphia</a> </li>
            <li> <a href="/episodes/tt1586680">Shameless</a> </li>
            <li> <a href="/episodes/tt106080">The Nanny</a> </li>
            <li> <a href="/episodes/tt3526078">Schitt's Creek</a> </li>
            <li> <a href="/episodes/tt4786824">The Crown</a> </li>
            <li> <a href="/episodes/tt3339966">Unbreakable Kimmy Schmidt</a> </li>
            <li> <a href="/episodes/tt115082">3rd Rock from the Sun</a> </li>
            <li> <a href="/episodes/tt182576">Family Guy</a> </li>
        </ul>

        <p> Didn't see your favorite show in the lists above? Try using the search box at the top of the page. </p>
    </div>
  </div>
  {% endif %}
{% endblock %}
