{% extends "base.html" %}

{% block content %}
  <div class="container bg-light rounded pt-3">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group col-md-6">
              {{ form.imdb_show_id.label }} <br>
              {{ form.imdb_show_id(size=32, value=(imdb_show_id or ''), class_="autocomplete") }}
              {% for error in form.imdb_show_id.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
            <div class="form-group col-md-6">
              {{ form.max_rank_pct.label }} <br>
              {{ form.max_rank_pct(size=32, value=(max_rank_pct or '')) }}
              {% for error in form.max_rank_pct.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
        </div>
        {{ form.submit(class_="btn btn-primary form-group") }}
    </form>
    <script>
        $( document ).ready(function() {
            $( ".autocomplete" ).autocomplete({
                source: '/search'
            });
        });
    </script>
    <hr>
  {% if imdb_show_id is not none %}

    <div>
        <table class="table table-sm table-bordered">
            <tr> <td> Show Name </td> <td> {{ show_meta.primaryTitle }} </td> </tr>
            <tr> <td> Start Year </td> <td> {{ show_meta.startYear }} </td> </tr>
            <tr> <td> Typical Runtime </td> <td> {{ show_meta.runtimeMinutes }} min</td> </tr>
            <tr> <td> Genre tags </td> <td> {{ show_meta.genres }} </td> </tr>
        </table>
        <hr>
    </div>
    <table class="table table-hover table-sm table-striped table-bordered">
        <thead>
            <tr>
                <!-- <th> Index<sub><sub>1</sub></sub> </th> -->
                <th> S </th>
                <th> Ep </th>
                <th> Title </th>
                <th> Average Rating </th>
                <!-- <th> Num Votes </th> -->
                <th> Overall Rank </th>
            </tr>
        </thead>
        <tbody>
            {% for episode in episodes %}
                <tr>
                    <!-- <td> {{ loop.index }}</td> -->
                    <td> {{ episode.seasonNumber }} </td>
                    <td> {{ episode.episodeNumber }} </td>
                    <td> {{ episode.primaryTitle }} </td>
                    <td> {{ episode.averageRating }} </td>
                    <!-- <td> {{ episode.numVotes }} </td> -->
                    <td class="text-right"> {{ (1+0.99*episode.percent_rank)|round()|int }} </td>
                </tr>
            {% endfor %}
    </tbody>
    </table>

  {% else %}

    <div class="container px-5">
        <p> Hello and welcome to Top Episodes. </p>
        <p> This page applies the <a href="https://en.m.wikipedia.org/wiki/Pareto_principle">Pareto principle</a> to TV series so you can get 4 times more <a href="https://en.wiktionary.org/wiki/util">utils</a> for your time. </p>
        <p> Essentially, by watching just the top 20% of episodes, you get 80% of the value of the whole series. This means in the same amount of time you can watch 5x more series getting 80% of the value of each, which maths to 4x the bang for your buck 🤓</p>
        <p> If a show does not sound super exciting but your friends love it, might as well start with the top 5% and expand to 20% if you felt like you enjoyed the 5%. Some cult classics might only have a few good ones (at least in your opinion) so 1% might be all that's worth watching to start, but you can at least say you gave it a shot. </p>
        <p> Of course this does not apply to every TV show, but it works for most. Some shows require you to watch every episode to understand the story. For those you might want to filter out only a handful of episodes or none at all (keep 80% to 100%). </p>
        <p> For a list of sci-fi favorites recommended by the #1 biggest sci-fi fan I know check out the following list: </p>
        <ul>
            <li> <a href="/episodes/tt0112178/20">Star Trek: Voyager</a> </li>
            <li> <a href="/episodes/tt0106145/20">Star Trek: Deep Space Nine</a> </li>
            <li> <a href="/episodes/tt0407362/20">Battlestar Galactica</a> </li>
        </ul>

    </div>
  </div>
  {% endif %}
{% endblock %}
